<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

<FilesMatch "^(config\.php|\.env|composer\.(json|lock))$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^vendor/ - [F,L]
    RewriteRule ^composer\.(json|lock)$ - [F,L]
</IfModule>
